@media print {
    .do-not-print {
        display: none;
    }
    
    body {
    padding-bottom: 0vh;
}
}

@media screen {
    .do-not-show-on-screen {
        display: none;
    }
}

.annotation {
    font-size: 0.6em;
    font-style: italic;
    display: inline;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 160px 160px 160px;
    padding: 10px;
}

.output-label {
    display: block;
}

.grid-item {
    /* background-color: #08285977; */
    border: 1px solid;
    padding: 20px;
    font-size: 0.9em;
    text-align: left;
    /* line-height: 150% */
}

.personal-info-grid {
    display: grid;
    grid-template-columns: 50px 250px;
    /* padding: 10px; */
}

button {
    margin-top: 10px;
    font-size: 3em;
    background-color: orange;
}

#errorLabel {
    overflow-wrap: break-word;
    color: red;
}

#info-bag {
    padding: 10px
}

.grid-corner {
    border: none;
    padding: 20px;
    text-align: center;
}

.grid-header {
    /* background-color: #082859; */
    border: 1px solid;
    padding: 20px;
    font-size: 1em;
    color: #082859;
    text-align: center;
}

.grid-sider {
    /* background-color: #082859; */
    border: 1px solid;
    padding: 20px;
    font-size: 1em;
    color: #082859;
    text-align: center;
}

#infotop {
    display: flex;
    flex-direction: row;
    /*padding-top: 10px;*/
}

#signature {
    padding-top: 20px;
    padding-bottom: 10px;
}

#dialogs fieldset {
    width: 560px;
}

#print-area {
    width: 560px;
}

    #print-area div {
        margin: auto;
        width: min-content;
    }

#dgn-image {
    /* background-color: #082859; */
}

body {
    padding-bottom: 100vh;
}
